.parmera{
    background-color: green;
    display: flex;
    width: 100px;
    height: 100px;
}

.framengo{
    background-color: red;
    display: flex;
    width: 100px;
    height: 100px;
}

.vasco{
    background-color: black;
    display: flex;
    width: 100px;
    height: 100px;
    color: white;
}

.saopaulo{
    background-color: pink;
    display: flex;
    width: 100px;
    height: 100px;
}